header{
    position:sticky;/*me dá problemas con mozilla*/
    top:0;/*me dá problemas con mozilla*/
    display: flex;
    flex-direction: row;
    align-items: center;
    /*z-index:0;*//*no sé si esto lo soluciona*/
}
    header nav{
        display:flex;
        flex-direction:row;
    }
        header nav a{
            text-decoration:none;
        }
        header nav a:visited{
            color:black;
            
        }
        header nav a:hover{
            cursor:pointer;
        }
    header div {
        padding:0px;
        background-color:orange;
    }
        header div div{
            display:flex;
            flex-direction:row;
            align-items: center;
        }

            header div div h1{
                font-family: 'Festive', cursive;
                font-size:20px;
            }
            header div div p{
                font-family: 'Festive', cursive;
                font-size:20px;
                
            }
