main{
    display:flex;
    flex-direction:row;
    padding:5px;
    background-color:green;

}
    main section{
        flex:3;
        background-color: white;
        margin:1px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /*height:100vh;*//*me dió problemas...*/
        
    }
        main section article{
            margin: 0px;/*está afectando o resto de etiquetas article se non o especifico*/
            line-height: 1.5;
            background-color: rgb(255, 251, 0);
        }
        main section article div:nth-child(1){
            border: 3px solid red;
            /*width: auto;*/
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: blueviolet;
        }
        main section article:nth-child(2) div{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
                main section article:nth-child(2) div article{
                    border: 3px solid rgb(0, 204, 255);
                    width: 25vw;
                    /*height: 20vh;*/
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: center;
                    background-color: brown;
                    padding: 0px;
                }

.trabajo{
        background-color: darkgreen;
    }
    .trabajo div{
        border: 1px solid white;
        /*width: 24vw;/*a ojo*/
            /*display: flex;
            flex-direction: column;
            align-items: flex-start;*/
    }
    .trabajo span{
        color: rgb(103, 151, 207);
        font-size: 14px;
    }
        .trabajo div a{
            text-decoration: none;
            background-color: blue;
            color:white;
        }
    
        .trabajo div[title="eraltech"]{
            
            background-image: url("../logoEraltech.png");
            background-size:cover;
            background-color: deeppink;
            width: 24vw;/*a ojo*/
            display: flex;
            flex-direction: column;
            
        }
            .trabajo div[title="eraltech"] div{
                
                background-color: black;
                color:white;
                /*width: 23vw;*/
            }
        .trabajo div[title="aguambiente"]{
        
            background-image: url("../logoAguambiente.png");
            background-size:cover;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
        .trabajo div[title="quiebra"]{
            
            background-size:cover;
        }


main aside{
    flex:0.5;
    background-color:white;
    padding:2px;
    margin:1px;
}
    main aside div img{
        
        width:10vh;
    }
    main aside div:nth-child(1) {
        display:flex;
        justify-content:center;
    }
    main aside div:nth-child(2) i {
        display:flex;
        flex-direction:colum;
    }
    main aside div:nth-child(3){
        background-color: blue;
        padding:5px;
    }

