@import url('https://fonts.googleapis.com/css2?family=Festive&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Rubik:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: content-box;
    
}
html{
    scroll-behavior: smooth;
}
li{
    list-style:none;
}
body{
    display:flex;
    flex-direction:column;
    
    /*width:500vw;*/
}
body footer{
	flex: 1 1 auto;
}
/*#linea{
    position: absolute;
    top: 200px;
    left: 500px;
    width: 300px;
    height: 2px;
    transform: rotate(90deg);
    background-color: blue;
}*/
