footer{
    display: flex;
    align-items:center;
    justify-content: center;
    margin: 5px;
    background-color: #82E0AA ;
}
footer section {
  width: 100%;
  border: 1px solid black;
  padding: 0px;
}
  footer section fieldset{
    margin: 10px;
    padding: 10px;
  }
      footer section form fieldset div{
        display: flex;
        justify-content: column;
        font-family: 'Roboto Serif', sans-serif;
        background-color: blue;
          color:white;
      }
      footer section form fieldset div:nth-child(2){
        display: flex;
        justify-content: column;
        padding: 5px;
        background-color: blueviolet;
      }
      footer section form fieldset div div{
        background-color: yellow;
        color: black;
        margin: 10px;
        padding: 5px;;
      }

        footer section form fieldset div div textarea{
          margin: 20px;
          width: 100%;
        }

        
